.generated {
    margin: 5px;
    padding: 5px;
}

#commentText {
    margin-bottom: 10px;

}

#send {
    background-color: rgb(234, 162, 18);
    
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    border: solid 1px gainsboro;
    
}