.page {
    background-color: #E5E5E5;
    display: grid;
    grid-template-rows: 10% 90%;
}

.head {
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.content-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: max-content;
}

#logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}

.menu {
    justify-content: space-between;
    width: max-content;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: stretch;
    font-family: 'Poppins', sans-serif;
}

.section-1 {
    grid-column: 1/2;
    font-size: 125px;
    font-weight: 700;
    color: #FF7E00;
    align-content: center;
}

.section-2 {
    grid-column: 2/3;
    color: #2F2F2F;
    font-size: 52px;
    font-weight: bold;
    align-content: center;
}

.section-3 {
    grid-column: 3/4;
    align-content: center;
}

.section-4 {
    grid-column: 1/4;
    color: #909090;
    font-weight: normal;
    font-size: 22px;
    display: flex;
    max-width: 568px;
    justify-content: center;
}

.section-5 {
    grid-column: 1/2;
    font-weight: 600;
    font-size: 20px;
    color: #F4ECE1;
    background-image: url(assets/image/order-back.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6 {
    grid-column: 2/3;
    color: #2F2F2F;
    font-weight: 600;
    font-size: 20px;
    align-content: flex-end;
}

.section-7 {
    grid-column: 3/4;
}

.section-8 {
    font-weight: 600;
    font-size: 18px;
    display: flex;
}

.section-9 {
    grid-column: 1/3;
    font-weight: 600;
    font-size: 18px;
}