.box {
    display: flex;
    justify-content: space-around;
}

.firstBlock,
.secondBlock,
.thirdBlock {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
    width: 30%;
}

.firstBlock {
    background-color: bisque;

}

.secondBlock {
    background-color: aqua;

}

.thirdBlock {
    background-color: azure;
}

.selectedBlock {
    background-color: darkseagreen;
}