.header {
    background-color: darkgray;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: darkgrey;
    grid-column: 1/4;
}

.footer-content {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
}

.footer1,
.footer2,
.footer3,
.footer4 {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;    
}


main {
    background-color: #E9C886;
    padding: 15px;

}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr 1fr;
    gap: 15px;
}

.section1 {
    grid-column: 1/4;
}

.section4 {
    grid-column: 1/3;
}

.section2,
.section3,
.section4 {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebar {
    background-color: #DDE986;
    padding: 15px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    text-align: center;
}