.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #e4d1d1;
    margin-top: 20px;
}

.tag {
    height: 10%;
    background-color: #f0efef;
    

}

.word{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;


}

.transcription{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.translate{
    height: 20%;
    background-color: #ddeedd;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.container{
    display: flex;
    width: 500px;
    margin: 0 auto;

    
}

.leftArrow, .rightArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    border: none;
    background-color: white;
    cursor: pointer;
    color: #b9b0b0;
}