.containerColor {
    background-color: rgb(223, 217, 217);
}

.partColor {
    height: 10vh;
    background-color: rgb(36, 31, 65);
    color: aliceblue;
}

div {
    margin: 5px;
    padding: 5px;
}

.navbar-brand,
#home {
    color: white;
}