$mainCardColor: #e4d1d1;

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: $mainCardColor;
    margin-top: 20px;
    border-radius: 20px;
}

.tag {
    height: 10%;
    padding: 5px;  
}

.word, .transcription, .translate, .leftArrow, .rightArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.word{
    height: 40%;   
    font-size: 24px;
    font-weight: 700;
}

.transcription{
    height: 10%;
    color: #958f8f;
}

.translate{
    height: 20%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.container{
    display: flex;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;   
}



.buttonCheck {
    width: 40%;
    height: 10%;
    border: solid rgb(113, 108, 108) 1px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #b0aac0;
    font-size: 14px;
}
